html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card:hover {
    box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 1)
}

.deck .card.open {
    transform: rotateY(180);
    background: #02b3e4;
    cursor: default;
    transform: scale(1.01);
    transition: all 400ms;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.disabled {
    pointer-events: none;
    opacity: 0.8;
    background: grey;
}

/** Alternate Score Panel Styling **/

.alt-score-panel {
    width: 660px;
    padding: 20px;
    background: linear-gradient(29deg, #aee7b15c 0%, #c86f6fb5 100%);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    box-shadow: inset 1px 5px 20px 8px rgba(46, 61, 73, 0.5)
}

.alt-score-panel .alt-stars .fa-star {
    color: gold;
}

.alt-score-panel .alt-score-panel-text {
    font-size: 2.5em;
}

.alt-score-panel .alt-score-panel-icon-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    cursor: pointer;
}

/** Overlay styling 
 Thanks -> https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp
**/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.55);
    transition: 0.4s;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: grey;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .overlay-content {
    background-color: white;
    position: relative;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.overlay-content .fa-check-circle {
    color: green;
}

.overlay .close-button {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay .overlay-content h3 .fa:before {
    margin-right: 25px;
}

.overlay .overlay-content .winner-headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .overlay-content .winner-headline i {
    margin-right: 60px;
}

.overlay .overlay-content .result-row {
    display: flex;
    align-self: center;
    align-items: center;
}

.overlay .overlay-content button {
    background-color: #02b3e4;
    color: white;
    font-size: 2em;
    padding: 30px;
    cursor: pointer;
}

.overlay .fa-star {
    color: gold;
}